/**
 * Typographies de base Material Design 3 (Expressive).
 */
:root {
  --eve-type-label-large-font-size: 0.875rem;
  --eve-type-label-large-line-height: 1.25rem;
  --eve-type-title-medium-font-size: 1rem;
  --eve-type-title-medium-line-height: 1.5rem;
}
